{% extends "layout.html" %}
{% block content %}
  <h2>About us</h2>
  <p>This app is for tracking scoring chances in the NHL.  By tracking chances we can get a better idea of which teams are dominating posession.</p>
  <p>Created by Josh Weissbock with thanks to the feedback of all users.  Scoring Chances are often recorded and posted to the Nations Networks as well as <a href="http://boltstatistics.com">Bolt Statistics</a></p>
  <p>Follow me on twitter <a href="http://twitter.com/joshweissbock">@joshweissbock</a> or email me at <a href="mailto:josh.weissbock@gmail.com">josh.weissbock@gmail.com</a>
{% endblock %}
