<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Hockey Scoring Chances - Web Tracker</title>
    </head>
    <body>

<div style="text-align: center">

<h1>Scoring Chance Summary</h1>

<table id="hscsummary" style="margin:auto; border: 1px black solid" border="1">
	<tr>
		<td>Team</td>
		<td>Period</td>
		<td>Time</td>
		<td>Note</td>
		<td colspan="6">Home</td>
		<td colspan="6">Away</td>
		<td>State</td>
	</tr>
	{% for row in data %}
		<tr>
		{% for cell in row %}
			<td {% if loop.index >= 5 and loop.index <= 10 %} bgcolor="#00CC00" {% endif %}>{{ cell }}</td>
		{% endfor %}
		</tr>
	{% endfor %}
</table>

</div>

</body>