<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Hockey Scoring Chances - Web Tracker</title>
    </head>
    <body>

<div style="text-align: center">

<h1>Scoring Chance Summary</h1>

<table id="hscsummary" style="margin:auto; border: 1px black solid" border="1">
	<tr>
		<td>Team</td>
		<td>Period</td>
		<td>Time</td>
		<td>Note</td>
		<td colspan="6" bgcolor="#00CC00">Home</td>
		<td colspan="6">Away</td>
		<td>State</td>
	</tr>
	{% for row in data %}
		<tr>
		{% for cell in row %}
			<td {% if loop.index >= 5 and loop.index <= 10 %} bgcolor="#00CC00" {% endif %}>{{ cell }}</td>
		{% endfor %}
		</tr>
	{% endfor %}
</table>
<h1>Home Team Player Summary</h1>
<table border="1" style="margin:auto">
	<tr>
		<td>#</td>
		<td>Player</td>
		<td>EV</td>
		<td> </td>
		<td> </td>
		<td>PP</td>
		<td> </td>
		<td> </td>
		<td>SH</td>
		<td> </td>
		<td> </td>
	</tr>
	{% for row in homeSummary %}
		<tr>
			{% for cell in row %}
				<td {% if loop.index in [4,7,10] %} style="color: green" {% elif loop.index in [5,8,11] %} style="color:red" {% endif %}>{{ cell }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
<h1>Away Player Scoring Summary</h1>
<table border="1" style="margin:auto">
	<tr>
		<td>#</td>
		<td>Player</td>
		<td>EV</td>
		<td> </td>
		<td> </td>
		<td>PP</td>
		<td> </td>
		<td> </td>
		<td>SH</td>
		<td> </td>
		<td> </td>
	</tr>
	{% for row in awaySummary %}
		<tr>
			{% for cell in row %}
				<td {% if loop.index in [4,7,10] %} style="color: green" {% elif loop.index in [5,8,11] %} style="color:red" {% endif %}>{{ cell }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
<h1>Home Team Period Summary Scoring Chances</h1>
<table border="1" style="margin:auto">
	<tr>
		<td>Period</td>
		<td colspan="2">Totals</td>
		<td colspan="2">EV</td>
		<td colspan="2">PP</td>
		<td colspan="2">5v3 PP</td>
		<td colspan="2">SH</td>
		<td colspan="2">5v3 SH</td>
	</tr>
	{% for row in periodSummary %}
		<tr>
			{% for cell in row %}
				<td>{{ cell }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
<h1>Away Team Period Summary Scoring Chances</h1>
<table border="1" style="margin:auto">
	<tr>
		<td>Period</td>
		<td colspan="2">Totals</td>
		<td colspan="2">EV</td>
		<td colspan="2">PP</td>
		<td colspan="2">5v3 PP</td>
		<td colspan="2">SH</td>
		<td colspan="2">5v3 SH</td>
	</tr>
	{% for row in awayPeriodSum %}
		<tr>
			{% for cell in row %}
				<td>{{ cell }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>

</div>

</body>