<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Hockey Scoring Chances - Web Tracker</title>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="{{ url_for('static', filename='javascript/jquery.zclip.min.js') }}" type="text/javascript" charset="utf-8" async defer></script>
      <script type="text/javascript">
      	$(document).ready(function() {
      		/**$('#chanceSummary').zclip({
        		path:'/static/javascript/ZeroClipboard.swf',
        		copy:$("#table1").html()
    		});**/

    		$('select').change(function() {
    			var table = "#table"+$(this).val();
    			$("#htmlCode").val($(table).html().replace(/\s+/g, ' '));
    		});

    		$('#getHtml').change();

    		$('#refetch').click(function(e) {
    			var newurl = document.URL+"true";
    			window.location = newurl;
    		});
      	});
      </script>
    </head>
    <body>

<div style="text-align: center">

	<p><a href="{{ url_for('home') }}">Home</a> | Data Wonky?  <input type="button" value="Refetch Data" id="refetch" /></p>

<h1>Scoring Chance Summary</h1>
<div id="table1">
<table id="hscsummary" style="margin:auto; border: 1px black solid" border="1">
	<tr>
		<td>Team</td>
		<td>Period</td>
		<td>Time</td>
		<td>Note</td>
		<td colspan="6" bgcolor="#00CC00">Home</td>
		<td colspan="6">Away</td>
		<td>State</td>
	</tr>
	{% for row in data %}
		<tr>
		{% for cell in row %}
			<td {% if loop.index >= 5 and loop.index <= 10 %} bgcolor="#00CC00" {% endif %}>{{ cell }}</td>
		{% endfor %}
		</tr>
	{% endfor %}
</table></div>

<h1>Home Team Player Summary</h1>
<div id="table2">
<table border="1" style="margin:auto">
	<tr>
		<td>#</td>
		<td>Player</td>
		<td>EV</td>
		<td> </td>
		<td> </td>
		<td>PP</td>
		<td> </td>
		<td> </td>
		<td>SH</td>
		<td> </td>
		<td> </td>
	</tr>
	{% for row in homeSummary %}
		<tr>
			{% for cell in row %}
				<td {% if loop.index in [4,7,10] %} style="color: green" {% elif loop.index in [5,8,11] %} style="color:red" {% endif %}>{{ cell }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
</div>

<h1>Away Player Scoring Summary</h1>
<div id="table3">
<table border="1" style="margin:auto">
	<tr>
		<td>#</td>
		<td>Player</td>
		<td>EV</td>
		<td> </td>
		<td> </td>
		<td>PP</td>
		<td> </td>
		<td> </td>
		<td>SH</td>
		<td> </td>
		<td> </td>
	</tr>
	{% for row in awaySummary %}
		<tr>
			{% for cell in row %}
				<td {% if loop.index in [4,7,10] %} style="color: green" {% elif loop.index in [5,8,11] %} style="color:red" {% endif %}>{{ cell }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
</div>

<h1>Home Team Period Summary Scoring Chances</h1>
<div id="table4">
<table border="1" style="margin:auto">
	<tr>
		<td>Period</td>
		<td colspan="2">Totals</td>
		<td colspan="2">EV</td>
		<td colspan="2">PP</td>
		<td colspan="2">5v3 PP</td>
		<td colspan="2">SH</td>
		<td colspan="2">5v3 SH</td>
	</tr>
	{% for row in periodSummary %}
		<tr>
			{% for cell in row %}
				<td>{{ cell }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
</div>

<h1>Away Team Period Summary Scoring Chances</h1>
<div id="table5">
<table border="1" style="margin:auto">
	<tr>
		<td>Period</td>
		<td colspan="2">Totals</td>
		<td colspan="2">EV</td>
		<td colspan="2">PP</td>
		<td colspan="2">5v3 PP</td>
		<td colspan="2">SH</td>
		<td colspan="2">5v3 SH</td>
	</tr>
	{% for row in awayPeriodSum %}
		<tr>
			{% for cell in row %}
				<td>{{ cell }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
</div>

</div>

<div style="text-align: center">
	<h1>Get HTML for individual Tables</h1>

	 <textarea id="htmlCode" style="width: 50%; height: 300px"></textarea> <br /> 

	 <select id="getHtml">
		<option value="1">Table 1</option>
		<option value="2">Table 2</option>
		<option value="3">Table 3</option>
		<option value="4">Table 4</option>
		<option value="5">Table 5</option>
	</select>
</div>

</body>