{% extends "layout.html" %}
{% block content %}
   		<div id="gameInfo">
			<select id="gYear">
				<option value="20122013">2012-2013</option>
			</select> Game ID: <input type="text" id="gameID" maxlength="5" /> <input type="button" id="enterGame" value="Enter Game ID" />
		</div>
   		<div id="content">
			<div id="hockeyRinkDiv">
				<div id="hockeyRinkHome">Home</div>
				<div id="hockeyRinkAway">Away</div>
			</div>
			<div id="sideBar">
				<table id="shotInfo">
					<tr>
						<td>#</td>
						<td>Team</td>
						<td>Period</td>
						<td>Time Remaining</td>
						<td>Comment</td>
						<td></td>
					</tr>
				</table>
				<br />
				<input type="hidden" id="sGameID" value="-1" />
				<input type="button" id="saveChances" value=" Save " />
				<input type="button" id="gameReport" value=" Game Report " />
			</div>
		</div>
{% endblock %}