<!DOCTYPE html>
<html lang="en">
   <head>
      <title></title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.jgrowl.css') }}">

	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	  <script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery.growl.js') }}"></script>
      <script src="{{ url_for('static', filename='javascript/script.js') }}" type="text/javascript" charset="utf-8" async defer></script>
   </head>
   <body>
   		<div id="gameInfo">
			Game ID: <input type="text" id="gameID" /> <input type="button" id="enterGame" value="Enter Game ID" />
		</div>
   		<div id="content">
			<div id="hockeyRinkDiv">
				<div id="hockeyRinkHome">Home</div>
				<div id="hockeyRinkAway">Away</div>
			</div>
			<div id="sideBar">
				<table id="shotInfo">
					<tr>
						<td>#</td>
						<td>Team</td>
						<td>Period</td>
						<td>Time Remaining</td>
						<td>Shot Type</td>
						<td>Comment</td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
   </body>
</html>